.App {
  text-align: center;
}

.switch-mode{
  display: flex;
  margin:1rem;
}

.switch-mode label{
  margin:0rem 1rem;
}

.switch-mode p{
  margin:0rem;
}

.trivial-general{
  border: 0.25rem solid white;
  border-radius: 1rem;
  margin:1rem;
  width: 20rem;
  height: 45rem;
}

.trivial-question{
  height: 7rem;
}

.trivial-info{
  border: 0.25rem solid white;
  border-radius: 1rem;
  margin:1rem;
}

.trivial-list{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


